# Build the docker image
## Push the docker image to docker hub
### SSH into our VMand start the new image

name: Deploy the backend
on: 
  push: 
    branches: [main]
jobs: 
  build: 
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout the code
        uses : actions/checkout@v2
      
      - name: Docker login
        uses: docker/login-action@v2
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with: 
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: dipanshuzalke/user-app-backend:${{ github.sha }}

      - name: Deploy to the VM
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key
          chmod 700 /home/runner/ssh_key
          ssh -o StrictHostKeyChecking=no -i ~/ssh_key root@34.100.144.33 -t "docker stop user-app-backend && docker run --name user-app-backend -d -p 8080:8080 dipanshuzalke/user-app-backend:${{ github.sha }}"